CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

libopendroneid/CMakeFiles/
libopendroneid/Makefile
libopendroneid/cmake_install.cmake
libopendroneid/libopendroneid.pc
libopendroneid/libopendroneid.so

libmav2odid/CMakeFiles/
libmav2odid/Makefile
libmav2odid/cmake_install.cmake
libmav2odid/libmav2odid.pc
libmav2odid/libmav2odid.so

test/CMakeFiles/
test/Makefile
test/cmake_install.cmake
test/odidtest

wifi/sender/sender

.idea/
cmake-build*
build
